<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inscriptions</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="bg-gradient-primary"  style="background:rgb(221, 221, 221)">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5" style="background:rgb(255, 255, 255)" >
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/dogs/pavel-nekoranec-I__QKQLMIKs-unsplash.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">S'inscrire</h4>
                            </div>
                            <form class="user">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="Idnom" placeholder="Nom" name="nom"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="Idprenom" placeholder="Prenom" name="prenom"></div>
                                </div>
                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="IdEmail" aria-describedby="emailHelp" placeholder="Email" name="email"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="Idmot" placeholder="Mot de passe" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="Idconf" placeholder="Confirmation" name="confirmation"></div>
                                </div><button class="btn btn-primary d-block btn-user w-100 bt_confrirmer" type="submit">Confirmer</button>
                                <hr/>
                                    <a class="btn btn-primary d-block btn-google btn-user w-100 mb-2 bt_enregistrer" role="button">
                                        <i class="fab fa-google"></i>&nbsp; Enregistre avec Google
                                    </a>
                                    <a class="btn btn-primary d-block btn-facebook btn-user w-100 bt_enregistrer" role="button">
                                        <i class="fab fa-facebook-f"></i>&nbsp; Enregistre avec Facebook
                                    </a>
                                <hr/>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">mot de passe oublié?</a></div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>